In [2]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from os import listdir
from os.path import isfile, join
import numpy as np

def get_data_b3():
    path = '../raw_data'
    files = [f for f in listdir(path) if isfile(join(path, f))] 
    list_files = []
    for file in range(0, len(files)):
        list_file = pd.read_excel(f'{path}/{files[file]}', parse_dates=['Data'])
        list_files.append(list_file)
    list_all_files = pd.concat(list_files)
    list_files_s = list_all_files.sort_values(by=['Produto', 'Data'])
    df_files = pd.DataFrame(list_files_s)
    return df_files
df_files = get_data_b3()
df_files

/home/thamirisbrandao/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Entrada/Saída,Data,Movimentação,Produto,Instituição,Quantidade,Preço unitário,Valor da Operação
48,Debito,2020-05-19,Transferência - Liquidação,ABEV3 - AMBEV S.A. ...,XP INVESTIMENTOS CCTVM S/A,100,11.81,1181.00
6,Debito,2021-10-11,Transferência - Liquidação,AMER3 - B2W COMPANHIA DIGITAL,CLEAR CORRETORA - GRUPO XP,72,32.67,2352.24
31,Credito,2020-03-06,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,50,31.86,1593.00
17,Credito,2020-06-24,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,50,33.70,1685.00
7,Debito,2021-05-24,Transferência - Liquidação,BBAS3 - BCO BRASIL S.A. ...,CLEAR CORRETORA - GRUPO XP,210,32.83,6894.30
...,...,...,...,...,...,...,...,...
62,Credito,2020-03-20,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,900,4.35,3915.00
50,Debito,2020-05-05,Transferência - Liquidação,VVAR3 - VIA VAREJO S.A. ...,CLEAR CORRETORA - GRUPO XP,1800,9.00,16200.00
41,Credito,2020-03-06,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,29.50,1180.00
14,Credito,2020-07-28,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,40,32.98,1319.20
17,Debito,2021-05-24,Transferência - Liquidação,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,CLEAR CORRETORA - GRUPO XP,80,31.43,2514.40

In [3]:
def files_featuring_eng():
    df_files = get_data_b3()
    df_files['Data da compra'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Credito')
    df_files['Data da venda'] = df_files['Data'].where(df_files['Entrada/Saída'] == 'Debito')
    df_files = df_files[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação', 'Movimentação', 'Instituição']]
    df_files['Quantidade'] = df_files['Quantidade'].apply(lambda x: x.replace(',','.'))
    df_files['Quantidade'] = df_files['Quantidade'].astype(float)
    return df_files
df_files = files_featuring_eng()
df_files

/home/thamirisbrandao/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação,Movimentação,Instituição
48,ABEV3 - AMBEV S.A. ...,NaT,2020-05-19,100.0,11.81,1181.00,Transferência - Liquidação,XP INVESTIMENTOS CCTVM S/A
6,AMER3 - B2W COMPANHIA DIGITAL,NaT,2021-10-11,72.0,32.67,2352.24,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
31,BBAS3 - BCO BRASIL S.A. ...,2020-03-06,NaT,50.0,31.86,1593.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
17,BBAS3 - BCO BRASIL S.A. ...,2020-06-24,NaT,50.0,33.70,1685.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
7,BBAS3 - BCO BRASIL S.A. ...,NaT,2021-05-24,210.0,32.83,6894.30,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
...,...,...,...,...,...,...,...,...
62,VVAR3 - VIA VAREJO S.A. ...,2020-03-20,NaT,900.0,4.35,3915.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
50,VVAR3 - VIA VAREJO S.A. ...,NaT,2020-05-05,1800.0,9.00,16200.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
41,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,2020-03-06,NaT,40.0,29.50,1180.00,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
14,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,2020-07-28,NaT,40.0,32.98,1319.20,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP
17,YDUQ3 - YDUQS PARTICIPACOES S.A. ...,NaT,2021-05-24,80.0,31.43,2514.40,Transferência - Liquidação,CLEAR CORRETORA - GRUPO XP

In [4]:
def variable_income():
    df_stock = df_files[df_files['Movimentação'] == 'Transferência - Liquidação']
    df_stock = df_stock[['Produto', 'Data da compra', 'Data da venda', 'Quantidade', 'Preço unitário', 'Valor da Operação']]
    df_stock = df_stock.sort_values(by=['Produto', 'Data da compra', 'Data da venda']).reset_index()
    df_stock['Produto'] = df_stock['Produto'].apply(lambda x: x.split('-')[0].strip())
    return df_stock
df_stock = variable_income()
df_stock

,index,Produto,Data da compra,Data da venda,Quantidade,Preço unitário,Valor da Operação
0,48,ABEV3,NaT,2020-05-19,100.0,11.81,1181.00
1,6,AMER3,NaT,2021-10-11,72.0,32.67,2352.24
2,31,BBAS3,2020-03-06,NaT,50.0,31.86,1593.00
3,17,BBAS3,2020-06-24,NaT,50.0,33.70,1685.00
4,7,BBAS3,NaT,2021-05-24,210.0,32.83,6894.30
...,...,...,...,...,...,...,...
106,62,VVAR3,2020-03-20,NaT,900.0,4.35,3915.00
107,50,VVAR3,NaT,2020-05-05,1800.0,9.00,16200.00
108,41,YDUQ3,2020-03-06,NaT,40.0,29.50,1180.00
109,14,YDUQ3,2020-07-28,NaT,40.0,32.98,1319.20
110,17,YDUQ3,NaT,2021-05-24,80.0,31.43,2514.40

In [5]:
def variable_income_quantity():
    df_stock_buy = df_stock[df_stock['Data da compra'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).reset_index()
    df_stock_sel = df_stock[df_stock['Data da venda'] > '20000101'].groupby('Produto').agg({'Quantidade':'sum'}).transform(lambda x: x *-1).reset_index()
    quantidades_stock = pd.concat([df_stock_sel, df_stock_buy]).reset_index()
    quantidades_prod_stock = quantidades_stock.groupby(['Produto']).sum().reset_index()
    quantidades_prod_stock = pd.DataFrame(quantidades_prod_stock)
    quantidades_prod_stock = quantidades_prod_stock.drop(columns='index')
    quantidades_prod_stock = quantidades_prod_stock.rename(columns={'Quantidade': 'Saldo de ações'})
    return quantidades_prod_stock
quantidades_prod_stock = variable_income_quantity()
quantidades_prod_stock

   Produto  Saldo de ações
0    ABEV3          -100.0
1    AMER3           -72.0
2    BBAS3          -110.0
3   BPAC11           450.0
4    BPAN4          2100.0
5    BRFS3             0.0
6    BRKM5             0.0
7    BRSR6           700.0
8    COCE5            20.0
9    COGN3             0.0
10   CPFE3             0.0
11   CSAN3           225.0
12   CVCB3             0.0
13   ENEV3            50.0
14   EVEN3           200.0
15   GNDI3           -35.0
16   GOAU4           200.0
17   HBOR3          1000.0
18   JPSA3           200.0
19   JSLG3           259.0
20   LAME4             0.0
21   LCAM3           800.0
22   MGLU3           745.0
23   MOVI3           600.0
24   MTRE3           600.0
25   OIBR3          6000.0
26   PARD3             0.0
27   PETR4          1100.0
28   PETZ3           300.0
29   POMO4          2700.0
30   PRIO3             0.0
31   PRNR3           -35.0
32   QUAL3            60.0
33   RAPT4             0.0
34   RLOG3           200.0
35   RRRP3           100.0
36  SAPR11          -135.0
37   SHUL4             0.0
38   TCSA3             0.0
39   TRIS3             0.0
40   VALE3           200.0
41   VIVA3           -78.0
42   VIVT4            26.0
43   VVAR3          -900.0
44   YDUQ3             0.0

In [7]:
def vari_quant_prof_loss():
    df_stock_opB = df_stock[df_stock['Data da compra'] > '20000101'].sort_values(['Produto', 'Data da compra']).reset_index()
    df_stock_opS = df_stock[df_stock['Data da venda'] > '20000101'].sort_values(['Produto', 'Data da venda']).reset_index()
    data_buy = []
    data_sell = []
    for lineB in range(0, len(df_stock_opB)):
        for lineS in range(0, len(df_stock_opS)):
            if df_stock_opS.Produto[lineS] == df_stock_opB.Produto[lineB] and df_stock_opS['Data da venda'][lineS] >= df_stock_opB['Data da compra'][lineB]:
                buy = df_stock_opB['Valor da Operação'][lineB]
                sell = df_stock_opS['Valor da Operação'][lineS]
                prod = df_stock_opB['Produto'][lineB]
                datb = df_stock_opB['Data da compra'][lineB]
                dats = df_stock_opS['Data da venda'][lineS]
                data_buy.append([datb, prod, buy])
                data_sell.append([dats, prod, sell])
            if df_stock_opS.Produto[lineS] == df_stock_opB.Produto[lineB] and df_stock_opS['Data da venda'][lineS] <= df_stock_opB['Data da compra'][lineB]:
                sell2 = df_stock_opS['Valor da Operação'][lineS]
                prod2 = df_stock_opB['Produto'][lineB]
                dats2 = df_stock_opS['Data da venda'][lineS]
                data_sell.append([dats2, prod2, sell2])
    buy_stock = pd.DataFrame(data_buy, columns=['Data da compra', 'Produto', 'Compra'])           
    sell_stock = pd.DataFrame(data_sell, columns=['Data da venda', 'Produto', 'Venda']) 
    sell_stock = sell_stock.drop_duplicates()
    df_stock_buy = buy_stock.groupby('Produto').sum().reset_index()
    sell_stock = sell_stock.drop(columns=['Data da venda'])
    lucpre_stock = pd.concat([sell_stock, df_stock_buy]).reset_index()
    df_stock_opB = df_stock_opB.groupby('Produto').sum().reset_index()
    df_stock_opS = df_stock_opS.groupby('Produto').sum().reset_index()
    calcu = []
    for lineB in range(0, len(df_stock_opB)):
        for lineS in range(0, len(df_stock_opS)):
            if df_stock_opS.Produto[lineS] == df_stock_opB.Produto[lineB]:
                prod = df_stock_opB.Produto[lineB]
                cal = df_stock_opS['Valor da Operação'][lineS]-((df_stock_opB['Valor da Operação'][lineB]/df_stock_opB.Quantidade[lineB])*df_stock_opS.Quantidade[lineS])
                calcu.append([prod, cal])

    calcula = pd.DataFrame(calcu, columns=['Produto', 'Lucro/Prejuízo']) 
    return calcula
calcula = vari_quant_prof_loss()
calcula

   Produto  Lucro/Prejuízo
0    BBAS3           10.50
1   BPAC11         2580.50
2    BRFS3          -29.50
3    BRKM5          155.00
4    COGN3          490.00
5    CPFE3            6.65
6    CVCB3          558.00
7    GNDI3         -300.85
8    LAME4        -8913.00
9    PARD3         -553.00
10   PRIO3        -4182.00
11   RAPT4          321.00
12   SHUL4          312.00
13   TCSA3        -1215.00
14   TRIS3         -460.90
15   VALE3          869.00
16   VIVA3          882.69
17   VVAR3         8370.00
18   YDUQ3           15.20

In [10]:
def variable_income_b3():
    stock_i = pd.merge(quantidades_prod_stock, calcula, how='left', on='Produto')
    merge_stock = pd.merge(df_stock, stock_i, how='left', on='Produto')
    merge_stock.drop(columns='index', inplace = True)
    merge_stock = merge_stock.sort_values(['Produto', 'Data da compra', 'Data da venda'])
    merge_stock['Lucro/Prejuizo'] = ''
    merge_stock['Saldo das ações'] = ''
    for line in range(0, len(merge_stock)-1):
        if merge_stock['Produto'].iloc[line] != merge_stock['Produto'].iloc[line+1]:
            merge_stock['Lucro/Prejuizo'].iloc[line] = merge_stock['Lucro/Prejuízo'].iloc[line]
            merge_stock['Saldo das ações'].iloc[line] = merge_stock['Saldo de ações'].iloc[line]
        else:
            merge_stock['Lucro/Prejuizo'].iloc[line] = 'nan'
            merge_stock['Saldo das ações'].iloc[line] = 'nan'
    merge_stock['Lucro/Prejuizo'].iloc[len(merge_stock)-1] = merge_stock['Lucro/Prejuízo'].iloc[len(merge_stock)-1]
    merge_stock['Saldo das ações'].iloc[len(merge_stock)-1] = merge_stock['Saldo de ações'].iloc[len(merge_stock)-1]
    merge_stock.drop(columns=['Saldo de ações', 'Lucro/Prejuízo'], inplace=True)
    spreadsheet_to_stock_income_tax = merge_stock.to_excel('../raw_data/files_to_ti/spreadsheet_stock_income_tax.xlsx', index = False)
    return spreadsheet_to_stock_income_tax
spreadsheet_to_stock_income_tax = variable_income_b3()
spreadsheet_to_stock_income_tax

/home/thamirisbrandao/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)